<div class="container-fluid">
  <div class="row">
    {{!-- author listing --}}
    <div class="col-xs-5">
      <button {{action "createUser"}}>Create</button>
      <table class="table">
        <thead>
          <tr>
            <th>Users</th>
          </tr>
        </thead>
        <tbody>
          {{#each pagedContent as |user|}}
            <tr>
              <td>
                {{#link-to "users.user" user}}
                  &bull; {{user.name}}
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      {{page-numbers content=pagedContent}}
    </div>

    {{!-- author content --}}
    <div class="col-xs-7">
      {{yield}}
    </div>
  </div>
</div>
